<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="left-panel">  
    <div class="top">
      <h1>Banco {banco}</h1>
      <div class="profile-image">
        <img src="/src/main/resources/static/img/pfp-placeholder.svg">
      </div>
      <h2 class="greeting">Bienvenido, {user}</h2>
      <div class="account-type">{tipoCuenta}</div>
      <div class="account-iban">{iban}</div>
    </div>
    <div class="bottom">
      <ul>
        <li><a href="#">Sobre Nosotros</a></li>
        <li><a href="#">Ayuda</a></li>
      </ul>
      <img src="/src/main/resources/static/img/config.png" alt="">
    </div>
  </section>
</body>
</html>